header {
    padding: 20px;
    background: #d3d4648f;
}/*configuração de cor do fundo, ou seja, background e a gente vai botar a cor #BBBBBB*/

.caixa  {
    background: #9ebb3680;
    position: relative;
    width: 940px;
    margin: 0 auto;
}/*O position relative, é usado quando queremos alterar a posição de um elemento tendo como referência a posição inicial
    - Delegamos para o navegador fazer a conta de calcular a largura que resta, dividir por dois, e adicionar metade em cada um dos lados.*/

nav {
    position: absolute;
    top: 100px;
    right: 0;   
}/*Position absolute, possui dois comportamentos diferentes. O primeiro é quando o elemento com essa propriedade possui um elemento pai de valor diferente de static. Neste caso, ele terá este elemento pai como referência para ser posicionado.
    O segundo comportamento é quando o elemento com position absolute não tem elemento pai, ou este elemento pai possui position static. Nesta situação, ele irá ignorar estes elementos e será posicionado a partir do canto esquerdo superior do documento, podendo até mesmo sobrepor a eles. */

nav li {
    display: inline;
    margin: 0 0 0 15px;
}/*Tem duas formas de exibir esse conteúdo, a primeira delas é inline e a segunda é a block.
    Na forma inline, o conteúdo da tag é do tamanho do conteúdo que está ali, uma imagem, ela vai ter a largura e altura daquela imagem.
    Quando uma tag é do tipo block, o tamanho dela vai ser sempre 100% da página.*/

nav a {
    text-transform: uppercase;/*A propriedade text-transform é a responsável pela transformação do texto para maiúsculo, quando usamos o valor uppercase*/
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}/*essa classe é chamada de navegação, isso é uma coisa muito comum no dia-a-dia, todos o site tem essa estrutura de links para serem navegados entre os sites. Dentro do cabeçalho, a gente vai envolver toda a nossa lista, todo nosso "ul" com a tag nav.*/